// -----------------------------------------------------------------------------
// Color one in the pallete
// -----------------------------------------------------------------------------


// Gray
$gray: (
	lighter:		#ffffff,
	light: 			#dadada,
	main: 			#9a9a9a,
	dark: 			#4a4a4a,
	darker: 		#000000,
);

// -----------------------------------------------------------------------------
// Social Icons
// -----------------------------------------------------------------------------
$social: (
	twitter: 		#78cdf0,
	facebook: 		#537bbd,
	instagram: 		#517fa4,
	youtube: 		#d34836,
	snapchat: 		#fffc00,
	pinterest:		#cb2027,
	google: 		#dd4b39
)